In [1]:
import pandas as pd
import os

In [2]:
path = os.path.abspath('.\\kaggle_givemesomecredit_train.csv')

List of all the variables in the training dataset:

Dependent variable:
- output

Independent (10) variables:
- age
- credit_balance
- 1monplus_dlqin_freq (30-59 days)
- 2monplus_dlqin_freq (60-89 days)
- 3monplus_dlqin_freq (90 days or more)
- debt_ratio
- income
- num_credit_lines
- num_realestate_loans
- num_dependents

In [3]:
df = pd.read_csv(path)

In [4]:
df

,id,output,age,credit_balance,1monplus_dlqin_freq,2monplus_dlqin_freq,3monplus_dlqin_freq,debt_ratio,income,num_credit_lines,num_realestate_loans,dependents
0,1,1,45,0.766127,2,0,0,0.802982,9120.0,13,6,2.0
1,2,0,40,0.957151,0,0,0,0.121876,2600.0,4,0,1.0
2,3,0,38,0.658180,1,0,1,0.085113,3042.0,2,0,0.0
3,4,0,30,0.233810,0,0,0,0.036050,3300.0,5,0,0.0
4,5,0,49,0.907239,1,0,0,0.024926,63588.0,7,1,0.0
5,6,0,74,0.213179,0,0,0,0.375607,3500.0,3,1,1.0
6,7,0,57,0.305682,0,0,0,5710.000000,NaN,8,3,0.0
7,8,0,39,0.754464,0,0,0,0.209940,3500.0,8,0,0.0
8,9,0,27,0.116951,0,0,0,46.000000,NaN,2,0,NaN
9,10,0,57,0.189169,0,0,0,0.606291,23684.0,9,4,2.0
10,11,0,30,0.644226,0,0,0,0.309476,2500.0,5,0,0.0
11,12,0,51,0.018798,0,0,0,0.531529,6501.0,7,2,2.0
12,13,0,46,0.010352,0,0,0,0.298354,12454.0,13,2,2.0
13,14,1,40,0.964673,3,1,3,0.382965,13700.0,9,1,2.0
14,15,0,76,0.019657,0,0,0,477.000000,0.0,6,1,0.0
15,16,0,64,0.548458,0,0,0,0.209892,11362.0,7,1,2.0
16,17,0,78,0.061086,0,0,0,2058.000000,NaN,10,2,0.0
17,18,0,53,0.166284,0,0,0,0.188274,8800.0,7,0,0.0
18,19,0,43,0.221813,0,0,0,0.527888,3280.0,7,1,2.0
19,20,0,25,0.602794,0,0,0,0.065868,333.0,2,0,0.0
20,21,0,43,0.200923,0,0,0,0.430046,12300.0,10,2,0.0
21,22,1,38,0.025656,0,0,0,0.475841,3000.0,7,1,2.0
22,23,0,39,1.000000,0,0,0,0.241104,2500.0,4,0,0.0
23,24,0,32,0.075427,0,0,0,0.085512,7916.0,6,0,0.0
24,25,0,58,0.046560,0,0,0,0.241622,2416.0,9,1,0.0
25,26,1,50,0.392248,0,0,0,1.595253,4676.0,14,3,1.0
26,27,0,58,0.052436,0,0,0,0.097672,8333.0,22,1,0.0
27,28,0,69,0.034421,0,0,0,0.042383,2500.0,17,0,1.0
28,29,0,24,0.452516,0,0,0,0.011761,3400.0,1,0,0.0
29,30,0,58,0.392995,2,0,0,0.436103,5500.0,15,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
149970,149971,0,58,0.025449,0,0,0,0.253855,15500.0,7,2,2.0
149971,149972,0,83,0.058001,0,0,0,0.013997,5000.0,6,0,0.0
149972,149973,0,42,0.071273,0,0,0,0.008638,6945.0,3,0,1.0
149973,149974,0,44,1.026395,0,0,0,0.494819,5500.0,7,1,1.0
149974,149975,0,61,0.962721,2,0,0,0.603479,5000.0,11,1,0.0
149975,149976,0,58,0.022088,0,0,0,2716.000000,NaN,8,2,0.0
149976,149977,0,76,0.000627,0,0,0,60.000000,NaN,5,0,0.0
149977,149978,0,29,0.236450,0,0,0,349.000000,NaN,3,0,0.0
149978,149979,0,52,0.917635,2,0,0,0.259496,2500.0,4,0,0.0
149979,149980,1,55,0.224711,0,0,0,0.057235,8700.0,7,0,0.0
149980,149981,0,64,0.067644,0,0,0,0.254976,5525.0,12,1,0.0
149981,149982,0,43,0.810012,0,0,0,0.121752,6849.0,4,0,4.0
149982,149983,0,37,0.021046,0,0,0,0.250272,2760.0,8,0,3.0
149983,149984,0,82,0.002485,0,0,0,0.000800,5000.0,5,0,0.0
149984,149985,0,84,0.037548,0,0,0,25.000000,NaN,5,0,0.0
149985,149986,0,26,0.954409,0,0,0,0.324962,1950.0,4,0,0.0
149986,149987,0,49,0.168102,0,0,0,0.080384,5000.0,16,0,1.0
149987,149988,0,28,1.000000,0,0,1,0.055692,3249.0,3,0,0.0
149988,149989,0,31,0.902051,1,0,0,0.347924,7515.0,10,1,0.0
149989,149990,0,62,0.013356,0,0,0,0.001408,9233.0,4,0,3.0
149990,149991,0,46,0.055518,0,0,0,0.609779,4335.0,7,1,2.0
149991,149992,0,59,0.104112,0,0,0,0.477658,10316.0,10,2,0.0
149992,149993,0,50,0.871976,0,0,0,4132.000000,NaN,11,1,3.0
149993,149994,0,22,1.000000,0,0,0,0.000000,820.0,1,0,0.0
149994,149995,0,50,0.385742,0,0,0,0.404293,3400.0,7,0,0.0
149995,149996,0,74,0.040674,0,0,0,0.225131,2100.0,4,1,0.0
149996,149997,0,44,0.299745,0,0,0,0.716562,5584.0,4,1,2.0
149997,149998,0,58,0.246044,0,0,0,3870.000000,NaN,18,1,0.0
149998,149999,0,30,0.000000,0,0,0,0.000000,5716.0,4,0,0.0
149999,150000,0,64,0.850283,0,0,0,0.249908,8158.0,8,2,0.0